
*.o

aclocal.m4
compile
config.log
config.status
configure
depcomp
install-sh
missing
test-driver
ylwrap

parser-yacc.c
parser-yacc.h
scanner-lex.c
Makefile
Makefile.in

gobject
parser
scanner

autom4te.cache/
.deps/
m4/

